@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --black: #383e43;
    --white: white;
    --primary: #42288a;
    --secondary: #e1d2e8;
    --ternary: #ff0088;
    --code: #a679ba;
    --info: #03a9f4;
    --warning: #fb6340;
    --success: #21b978;
    --danger: #f5365c;
    --sidebar: #f4f5f7;
    --documentation: rgb(254, 254, 254);
    --navbar: white;
    --section_links: #B4A8B9;
    --badge_primary: #5352ED;
    --badge_secondary: #2ED573;
    --badge_success: #FFA502;
    --badge_danger: #FF4757;
}

html {
    color: var(--black);
    font-family: Roboto, sans-serif;
}

.documentation > ul:first-of-type {
    height: 80%;
    overflow: auto;
}

.list-reset > li:first-child {
    display: none;
}

.documentation > ul:first-of-type li a {
    color: var(--section_links)
}

.documentation > ul:first-of-type li a .method-badge{
    margin-right: 2px;
}

.documentation pre {
    max-height: 70vh;
    overflow: scroll;
}

.documentation h2 {
    margin-top: 0;
    color: var(--primary);
    font-size: 30px;
}

.documentation .id_route {
    margin-bottom: 1rem;
}

.documentation h2:before {
    content: "#";
    margin-left: -1rem;
    margin-top: .25rem;
    position: absolute;
    font-size: 1.5rem;
    color: var(--ternary);
    opacity: .75;
}

.documentation h4 {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
    color: #7F8B95;
    text-decoration: underline;
}

.documentation table {
    font-size: 14px;
    width: 75%;
    background-color: #fbfbfb;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.documentation table td,
.documentation table th {
    padding: 10px 5px 10px 10px;
    text-align: left !important;
}

.rank_img {
    width: 30px;
    height: 30px;
}

.title_n_badge {
    align-content: center;
    display: flex;
}

.documentation table tbody tr:hover,
.documentation table tbody td:hover,
.documentation table tbody th:hover {
    background-color: #dfe1e2;
}

.documentation hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-color: var(--code);
}

.documentation pre {
    margin: 2rem 0 0 1rem;
    padding: 10px;
    color: var(--code);
    background-color: #f1f5f8;
    border-radius: 6px;
}

.documentation :not(pre) code {
    color: var(--code);
}

th {
    color: var(--code);
}

.documentation .badge-primary {
    color: #fff;
    background-color: var(--badge_primary);
}

.documentation .badge-secondary {
    color: #fff;
    background-color: var(--badge_secondary);
}

.documentation .badge-success {
    color: #fff;
    background-color: var(--badge_success);
}

.documentation .badge-danger {
    color: #fff;
    background-color: var(--badge_danger);
}

.required-param:after {
    content: "*";
    margin-right: -0.1rem;
    margin-top: -.1rem;
    position: absolute;
    font-size: 1rem;
    color: var(--badge_danger);
    opacity: 1;
}
/***** BOOTSTRAP BADGES *******/

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .badge {
        transition: none;
    }
}

a.badge:hover, a.badge:focus {
    text-decoration: none;
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

a.badge-primary:hover, a.badge-primary:focus {
    color: #fff;
    background-color: #0062cc;
}

a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

a.badge-secondary:hover, a.badge-secondary:focus {
    color: #fff;
    background-color: #545b62;
}

a.badge-secondary:focus, a.badge-secondary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

a.badge-success:hover, a.badge-success:focus {
    color: #fff;
    background-color: #1e7e34;
}

a.badge-success:focus, a.badge-success.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

a.badge-info:hover, a.badge-info:focus {
    color: #fff;
    background-color: #117a8b;
}

a.badge-info:focus, a.badge-info.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

a.badge-warning:hover, a.badge-warning:focus {
    color: #212529;
    background-color: #d39e00;
}

a.badge-warning:focus, a.badge-warning.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

a.badge-danger:hover, a.badge-danger:focus {
    color: #fff;
    background-color: #bd2130;
}

a.badge-danger:focus, a.badge-danger.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

a.badge-light:hover, a.badge-light:focus {
    color: #212529;
    background-color: #dae0e5;
}

a.badge-light:focus, a.badge-light.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}

a.badge-dark:hover, a.badge-dark:focus {
    color: #fff;
    background-color: #1d2124;
}

a.badge-dark:focus, a.badge-dark.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

@media print {
    .badge {
        border: 1px solid #000;
    }
}
